.MuiPaper-root
{
    height: 90%;
}
/* #experience
{
    margin: 30px;
    margin-left: 29px;
} */
/* a:link {
    text-decoration: none;
    color: red;
  }
  
  a:visited {
    text-decoration: none;
  } */
  .mycontainer{
   background-color: white !important;
  }
.container-fluid .card{
  background-color: white !important;
  color:black;
}
.card-title{
  color: white;
  /* background-color: white; */

}
.card-text{
  color: white;
  /* background-color: white; */
}
/* .card-body{
  background-color: white;
}
.mycard{
  background-color: white;
} */
  .navbar a:link{
     background-color:black; 
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
  .MuiGrid-spacing-xs-2 {
    width: calc(100% + 16px);
    margin: -80px;
}
.MuiGrid-justify-content-xs-center {
  justify-content: center;
}
.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}


.card_container p{
  color:black !important;
}

.card_container h2{
  color:black !important;
}

/* .card_container{
  position: relative;
  width:1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
} */
/* .view{
  background-color: antiquewhite;
} */
.card-container .card{
  background-color: white !important;
}
.card_container .card-body{
  position: relative;
    max-width: 200px;
    height: 180px;
    margin: 30px 10px;
    /* padding: 20px 15px; */
    background-color: white !important;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.card_container .card:hover{
  height: 420px;

}

.card_container .card .imgBox{
  position: relative;
  width: 180px;
  height: 250px;
  top:-45px;
  left:4px;
  z-index: 1;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card_container .card .imgBox img{
  max-width: 100%;
  border-radius: 4px;
  height: 180px;
  width: 160px;
}

.card_container .card .content{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card_container .card:hover .content{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
@media (max-width: 768px) { 
  .card-container .card {
    flex-direction: column;

    /* left: 20px; */
    /* position: relative; */
    /* align-items: inherit; */
    /* max-width: 100%; */
    /* width: 100%; */
  }   
}

.mycard{
  width:243px;
  height: 320px;
 
}

.card-img-top{
  height:100px;
  
}

.ho:hover{
  text-shadow: none !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  -webkit-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
  z-index: 2;
}
.mycard .card-title{
color: black !important;
}
.mycard .card-text{
  color: black !important;
}
.view
{
  margin-right: 0px!important;
}
